#aml_search_string-prompt-text, #aml_lookup_string-prompt-text {
	padding: 8x;
	position: absolute;
	color: #bbb;
	font-size: 1.2em;
}

.aml-list-item {
	border: 1px solid black;
}
.aml-list-image {
	float:left;
}
.aml-list-details {
	float:right;
}
.aml-list-title {
	font-weight: bold;
	font-size: +2;
}
.aml-list-author {}
.aml-list-authors {
	font-style: italic;
}
.aml-list-asin {}
.aml-list-link {}
.aml-item {
	border: 2px dashed gray;
	background-color: white;
}
.aml-hover {
	background-color: yellow;
}
