#ml_search_string-prompt-text, #ml_lookup_string-prompt-text {
	padding: 8x;
	position: absolute;
	color: #bbb;
	font-size: 1.2em;
}

.ml-list-item {
	border: 1px solid black;
	overflow: auto;
	clear:both;
	margin: 10px auto;
	width: 80%;
	max-width: 800px;
}
.ml-item-image {}
.ml-item-details {
	float:right;
	width: 75%;
}
.ml-item-title {
	font-weight: bold;
	font-size: +2em;
}
.ml-item-people {}
.ml-item-people-names {
	font-style: italic;
}
.ml-item-asin {}
.ml-item-link {}
.ml-item {
	border: 2px dashed gray;
	background-color: white;
	width: 30%;
	margin: 15px 0;
}
.ml-hover {
	background-color: yellow;
}

#ml_search_button {
	float: left;
}

#ml_search_reset {
	float: right;
}

.ml_search_box {
/*	overflow: auto;*/
}

#ml_image, #ml_link, #ml_asin {
	width: 250px;
}

#ml_image_preview {
	text-align: center;
}