#main {
	overflow: hidden;
}

.shelf-name {
	background-color: #f1f1f1; /* Fallback */
	background-image: -ms-linear-gradient(top, #f9f9f9, #ececec); /* IE10 */
	background-image: -moz-linear-gradient(top, #f9f9f9, #ececec); /* Firefox */
	background-image: -o-linear-gradient(top, #f9f9f9, #ececec); /* Opera */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec)); /* old Webkit */
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec); /* new Webkit */
	background-image: linear-gradient(top, #f9f9f9, #ececec); /* proposed W3C Markup */
}

.product .product-top {
	border-color: #dfdfdf;
	text-shadow: #fff 0 1px 0;
	-moz-box-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
}


#product-list .product-top {
	border-color: #dfdfdf;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.product,
#product-list .product-top {
	background-color: whiteSmoke; /* Fallback */
	background-image: -ms-linear-gradient(top, #f9f9f9, #f5f5f5); /* IE10 */
	background-image: -moz-linear-gradient(top, #f9f9f9, #f5f5f5); /* Firefox */
	background-image: -o-linear-gradient(top, #f9f9f9, #f5f5f5); /* Opera */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5)); /* old Webkit */
	background-image: -webkit-linear-gradient(top, #f9f9f9, #f5f5f5); /* new Webkit */
	background-image: linear-gradient(top, #f9f9f9, #f5f5f5); /* proposed W3C Markup */
}

.product .product-top {
	color: #222;
}

.shelf-name:hover h3,
.postbox h3:hover {
	color: #000;
}

.product-control-remove:hover {
	color: #f00;
}

.editproduct .product-inside, .product-description {
	border-color: #dfdfdf;
}

div.products-droppable,
#available-products .inactive {
	background-color: #fcfcfc;
	border-color: #dfdfdf;
}

#available-products .product-holder {
	background-color: #fcfcfc;
	border-color: #dfdfdf;
}

#available-products .product-description {
	color: #555;
}

.shelf-name {
	color: #464646;
	text-shadow: #fff 0 1px 0;
	border-color: #dfdfdf;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
}

.shelf-name:hover,
#removing-product {
	color: #d54e21;
}

#removing-product span {
	color: black;
}

.shelf-name-arrow {
	background: transparent url(../../../../wp-admin/images/arrows.png) no-repeat 5px 9px;
}

.shelf-name:hover .shelf-name-arrow {
	background: transparent url(../../../../wp-admin/images/arrows-dark.png) no-repeat}
 5px 9px;
}

.in-product-title {
	color: #606060;
}

.deleting .product-title * {
	color: #aaa;
}
